<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <!-- <img src="/img/cofluencer-logo.png" id="logo" alt=""> -->
        COFLUENCER
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#howitworks">HOW IT WORKS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#about">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#contact">CONTACT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalLoginForm">LOGIN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalSignupForm">SIGNUP</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="view hm-indigo-slight">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Influencia Colaborativa</h2>
          <h5>Crea y encuentra campañas que se adapten a tus necesidades</h5>
        </div>
      </div>
    </div>
  </div>

  <%- include modal-form.ejs %>

</header>