<div class="modal fade modal-fullscreen" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <div class="d-flex p-2">
    <!-- Modal Company -->
    <div class="modal-dialog" role="document">
      
      <div class="modal-header">
        <h4 class="modal-tittle w-100 text-center">Company</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form action="" method="post">
        
        <div class="modal-body mx-3">
          <div class="md-form">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="orangeForm-email" class="form-control validate">
            <label data-error="wrong" id="email" data-success="right" for="orangeForm-email">Your email</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input type="password" name="password" id="orangeForm-password" class="form-control validate">
            <label data-error="wrong" id="password" data-success="right" for="orangeForm-email">Your password</label>
          </div>

        </div>

      </form>

    </div>

    <!-- Modal Influencer -->
    <div class="modal-dialog" role="document">
    
      <div class="modal-header">
        <h4 class="modal-tittle w-100 text-center">Influencer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    
      <div class="modal-body mx-3">
    
      </div>
    
    </div>

</div>