<!-- Login -->
<div class="modal fade modal-fullscreen modal-fluid banner" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="d-flex">
    <div class="modal-dialog col-md-6 ml-auto cascading-modal mt-2 company-login" role="document">
    
      <!--Content-->
      <div class="modal-content modal-contact-box">
    
        <!--Header-->
        <div class="modal-header info-color white-text">
          <h4 class="title lobster">
            <i class="fa fa-briefcase"></i> Company</h4>
        </div>
        <!--Body-->
        <div class="modal-body">
          <form action="/login" method="post">

            <label for="NameModalEx">Username</label>
            <input type="text" name="username" id="NameModalEx" class="form-control form-control-sm" placeholder="cofluencer">

            <label for="PasswordModalEx">Password</label>
            <input type="password" name="password" id="EmailModalEx" class="form-control form-control-sm" placeholder="---">
          
            <div class="text-center mt-4 mb-2">
              <button id="" class="btn btn-author round-border">
                <i class="fas fa-sign-in-alt pr-2"></i>
                Login
              </button>
            </div>

          </form>
        </div>
      </div>
      <!--/.Content-->
    </div>
      <!--/Modal: Contact form-->

    <div class="modal-dialog col-md-6 ml-auto cascading-modal mt-2 influencer-login" role="document">
    
      <!--Content-->
      <div class="modal-content modal-contact-box">
    
        <!--Header-->
        <div class="modal-header info-color white-text">
          <h4 class="title lobster">
            <i class="fa fa-camera"></i> Influencer</h4>
        </div>
        <!--Body-->
        <div class="modal-body">
          <form action="/auth/facebook" method="get">

            <div class="text-center mt-4 mb-2">
                <p>If you have a instagram bussiness account, you can be a Cofluencer.</p>
              <button id="login-social" class="btn btn-author">
                <i class="fas fa-sign-in-alt pr-2"></i>
                Login with facebook & instagram
              </button>
            </div>
    
          </form>
        </div>
      </div>
      <!--/.Content-->
    </div>
    <!--/Modal: Contact form-->

  </div>

</div>

<!-- SigunUp -->

<div class="modal fade modal-fullscreen modal-fluid banner" id="modalSignupForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  <div class="d-flex">
    <div class="modal-dialog col-md-6 ml-auto cascading-modal mt-2 company-login" role="document">
  
      <!--Content-->
      <div class="modal-content modal-contact-box">
  
        <!--Header-->
        <div class="modal-header info-color white-text">
          <h4 class="title lobster">
          <i class="fa fa-briefcase"></i> Company</h4>
        </div>
        <!--Body-->
        <div class="modal-body">
          <form action="/signup" method="post">
            
            <div class="text-center mt-4 mb-2">
              <p class="align-center">Become a member of Cofluencer, and start increasing your visualization.</p>
            </div>

            <label for="NameModalEx">Username</label>
            <input type="text" name="username" id="NameModalEx" class="form-control form-control-sm validate">
  
            <label for="EmailModalEx">Email</label>
            <input type="email" name="email" id="EmailModalEx" class="form-control form-control-sm validate">

            <label for="PasswordModalEx">Password</label>
            <input type="password" name="password" id="PasswordModalEx" class="form-control form-control-sm validate">

            <div class="text-center mt-4 mb-2">
              <button id="" class="btn btn-author">
                <i class="fas fa-sign-in-alt pr-2"></i>
                Signup
              </button>
            </div>
  
          </form>
        </div>
      </div>
      <!--/.Content-->
    </div>
  
    <div class="modal-dialog col-md-6 ml-auto cascading-modal mt-2 influencer-login" role="document">
  
      <!--Content-->
      <div class="modal-content modal-contact-box">
  
        <!--Header-->
        <div class="modal-header info-color white-text">
          <h4 class="title lobster">
            <i class="fa fa-camera"></i> Influencer</h4>
        </div>
        <!--Body-->
        <div class="modal-body">
          <form action="/auth/facebook" method="get">
  
            <div class="text-center mt-4 mb-2">
              <p>If you have a instagram bussiness account, you can be a Cofluencer.</p>
              <button id="login-social" class="btn btn-author">
                <i class="fas fa-sign-in-alt pr-2"></i>
                Login with facebook & instagram
              </button>
            </div>
  
          </form>
        </div>
      </div>
      <!--/.Content-->
    </div>
  
  </div>

</div>