  <!--Copyright-->
  <footer class="footer-copyright">
    <div class="container footer-flex">
      <div>
        © 2018 Cofluencer 
      </div>
      <!--Grid column-->
      <div class="footer-socials">
        <!--Facebook-->
        <a class="icons-sm fb-ic">
          <i class="fa fa-facebook fa-lg white-text mr-md-4"> </i>
        </a>
        <!--Twitter-->
        <a class="icons-sm tw-ic">
          <i class="fa fa-twitter fa-lg white-text mr-md-4"> </i>
        </a>
        <!--Instagram-->
        <a class="icons-sm ins-ic">
          <i class="fa fa-instagram fa-lg white-text mr-md-4"> </i>
        </a>
      </div>
    </div>
</footer>
<!--/Footer-->