<h1>inicio</h1>
<a href="/signup">signup</a>
<br>
<br>
<a href="/login">login</a>
<br>
<br>
<a href="/auth/facebook">Login With Facebook</a>

<h2>Search user</h2>
<form method="POST" action="/">
  IG User: <input type="text" id="name" name="name"></input>
  <button type="submit" class="btn btn-indigo"><i class="fa fa-bolt" aria-hidden="true"></i>Search IG user</button>
</form>
