<h1>inicio</h1>
<a href="/signup">signup</a>

<h2>Search user</h2>
<form method="POST" action="/">
  IG User: <input type="text" id="name" name="name"></input>
  <button type="submit">Search IG user</button>
</form>

<h1>IG user: <%= titles %></h1>
<h2>followers: <%=followers%></h2>
<% pics.forEach((image)=>{ %>
  <div style="float: left">
  <img src='<%=image.media_url%>' style="width: 300px; height: 300px"><br>
  💚 : <%= image.like_count%>
  <br>
  </div>
<% }); %>
