<div class="container">
    <!--Section: Blog v.2-->
    <section class="p-5">
      <!--Section heading-->
      <h2 class="font-weight-bold dark-grey-text">Create Campaign</h2>
      <p class="subtitle-p grey-text mb-5">Just a few words and you will have your campaign online.</p>
      <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-4 col-md-4 col-sm-12">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2 mb-2 img-edit-campaign">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/84.jpg" class="img-fluid" alt="First sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 text-left">
        <form class="edit" action="/<%= infoUser.username %>/campaigns" method="POST">
          <div class="form-row">
            <div class="form-group col-4">
              <select class="form-control" name="category" id="categoryOption">
                <option value="">Select one category</option>
                <option value="">Adventure</option>
                <option value="">Fashion</option>
                <option value="">Food</option>
                <option value="">Gamer</option>
                <option value="">Healthy</option>
              </select>
            </div>
            <div class="col-4 offset-md-1">
              <input name="date" type="date" value="" placeholder="Event Date">
            </div>
          </div>
          <div class="form-row">
            <div class="col-9">
              <input type="text" id="title" class="form-control" name="title" placeholder="Campaign title">
            </div>
          </div>
          <div class="form-row form-group">
            <div class="form-group col-9">
              <textarea name="description" class="form-control" id="description" rows="10" placeholder="Add description"></textarea>
            </div>
          </div>
          <button type="submit" class="btn btn-author">Create Campaign</button>
          <a href="/<%= infoUser.username %>" class="btn btn-author">Cancel</a>
        </form>
      </div>
    </div>
  </section>
</div>