<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="nav-home">
    <div class="container d-flex">
      <a class="navbar-brand" id="logo" href="/">
        <strong>Cofluencer</strong>
        <!-- <img src="/img/cofluencer-logo.png" alt="cofluencer-logo"> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex" id="menu">
          <li class="nav-item">
            <a class="nav-link" id="nav-link-home" href="#howitworks">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link-home" href="#about">About us</a>
          </li>
          <li class="nav-item b-r">
            <a class="nav-link" id="nav-link-home" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link-home" href="" data-toggle="modal" data-target="#modalLoginForm">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link-home" href="" data-toggle="modal" data-target="#modalSignupForm">
              <button type="button" id="signup" class="btn btn-author btn-home">Signup</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="banner text-center">
  
    <div class="banner-content text-center">
      <h1 class="text-w center-flex title">The Collaborative Influence is born</h1>
      <p class="text-w center-flex subtitle">A platform where Brands and Influencers connect and grow their businesses</p>
    </div>

    <a href="">
      <button type="button" id="signup" class="btn btn-author btn-home">Signup</button>
    </a>
  </div>

  <div class="container cards-container text-center">
  
    <div class="cards-grid">
      
      <div class="item-card item1 rounded z-depth-2">
        
      </div>

      <div class="item-card item2 rounded z-depth-2">
       
      </div>

      <div class="item-card item3 rounded z-depth-2">
        
      </div>

      <div class="item-card item4 rounded z-depth-2">
        
      </div>

    </div>

  </div>
</div>

  <%- include modal-form.ejs %>

</header>