<!--Main Navigation-->
<header id="header">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container d-flex">
      <a class="navbar-brand" id="logo" href="/">
        Cofluencer
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex" id="menu">
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#howitworks">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalLoginForm">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalSignupForm">
              <button type="button" id="signup" class="btn btn-outline-primary btn-rounded waves-effect">Signup</button>
            </a>
            <!-- <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalSignupForm">Signup</a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="view hm-indigo-slight">
    <div class="full-bg-img flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h2>Influencia Colaborativa</h2>
          <h5>Crea y encuentra campañas que se adapten a tus necesidades</h5>
        </div>
      </div>
    </div>
  </div>

  <%- include modal-form.ejs %>

</header>