<!--Main Navigation-->
<header>

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="nav-home">
    <div class="container d-flex">
      <a class="navbar-brand" id="logo" href="/">
        <img src="/img/cofluencer-logo.png" alt="cofluencer-logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto d-flex" id="menu">
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#howitworks">How it works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="#contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalLoginForm">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="nav-link" href="" data-toggle="modal" data-target="#modalSignupForm">
              <button type="button" id="signup" class="btn btn-outline-primary btn-rounded waves-effect">Signup</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <%- include modal-form.ejs %>


</header>