<div class="container">

  <div class="p-5 text-center text-md-left author-box">
    <!-- Name -->
    <div class="row">
      <!-- Avatar -->
      <div class="col-12 col-md-2 mb-md-0 mb-4">
        <img src="<%= infoUser.profileImage %>" class="img-fluid rounded-circle z-depth-2 avatar">
      </div>
      <!-- Author Data -->
      <div class="col-12 col-md-10">

        <form class="edit" action="/<%= infoUser.username %>" method="POST">

          <div class="form-row">
            <div class="col-3">
              <input type="text" class="form-control" name="cofluname" placeholder="Username" value="<%=infoUser.username%>">
            </div>

            <div class="col-3 offset-1">
              <input type="email" class="form-control" name="email" placeholder="email" value="<%=infoUser.email%>">
            </div>

          </div>

          <div class="form-row">
            <div class="col-12">
              <input id="textarea" type="text" class="form-control" name="bio" placeholder="Bio" value="">
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-md">Update Profile</button>
        </form>


      </div>
    </div>
  </div>

</div>