/* Style for the navbar */

#header {
  height: 80px;
}
  
body {
  background-color: #fafafa;
}

#logo {
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  align-self: auto;
  color: #fff;
}

#logo:hover {
  text-shadow: 2px 2px 1px #000;
}

#logo-profile {
  font-family: 'Lobster',
  cursive;
  font-size: 1.5em;
  align-self: auto;
  color: #032426;
}

#logo img {
  width: 150px;
}

li {
  list-style: none;
}

.navbar {
  background-color: #fff;
}

.navbar::after {
  content: '';
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 3px;
  background: linear-gradient(270deg, #880e4f, #0b8793);
}

#menu {
  align-items: center;
}

#nav-link {
  color: #000;
}

.nav-item {
  padding: 0 0.6rem 0 0.6rem;
}

.icon-campaign {
  font-size: 1.6em;
  color: #032426;
}

.icon-mycampaign {
  font-size: 1.9em;
  margin-right: 10px;
  color: #032426;
}

.fa-heart {
  font-size: 1.8em;
}

@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: rgb(244, 241, 0);
  }
  
}

/* --------------------------- Header index ----------------------- */

#nav-home {
  background-color: transparent;
  box-shadow: none;
}

#signup {
  color: rgba(240, 240, 240, 0.8) !important;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 25px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(270deg, 
    rgba(136, 14, 79, 0.7), 
    rgba(11, 135, 147, 0.7));
}

#signup:hover {
  color: rgba(240, 240, 240, 1) !important;
  background: linear-gradient(270deg, 
    rgba(136, 14, 79, 1), 
    rgba(11, 135, 147, 1));
}

#nav-home::after {
  content: none;
}

#nav-link-home {
  color: rgb(149, 160, 181);
  font-weight: 500;
  font-size: 14px;
}

#nav-link-home:hover {
  color: rgb(255, 255, 255);
}

.b-r {
  border-right: 1px solid rgb(149, 160, 181);
}

.banner {
  background-color: rgba(37, 37, 47, 0.9);
  padding: 180px 0 300px 0;
  background-image: url('/img/header-bg.png');
  background-position: center;
  background-size: cover;
}

.banner-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center-flex {
  align-self: center;
}

.text-w {
  color: white;
}

.title {
  letter-spacing: 1px;
}

.subtitle {
  width: 380px;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.8px;
}

.cards-container {
  position: relative;
  top: -150px;
}

.cards-grid {
  display: flex;
  width: 100%;
  margin: 0 -5px;
  justify-content: space-around;
  height: 200px;
}

.item-card {
  width: 50%;
  height: 300px;
  margin: 0 5px;
}

.item1 {
  background-image: url('/img/cards/img-card01.jpg');
  background-position: center;
  background-size: cover;
}

.item2 {
  background-image: url('/img/cards/img-card02.jpg');
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}
.item3 {
  background-image: url('/img/cards/img-card03.jpg');
  background-position: center;
  background-size: cover;
}
.item4 {
  background-image: url('/img/cards/img-card05.jpg');
  background-position: center;
  background-size: cover;
  margin-top: 20px;
}



/* --------------------------- Footer ----------------------- */

footer {
  width: 100%;
  
}

.footer-copyright {
  color: #999;
  font-size: 0.9em;
}

.icons-sm .fa {
  color: #999 !important;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-socials {
  padding: 20px 0;
}

/* __--__--__--__--__--__--__--__--__--__--__--__--__ */

/* Style for the login/signup modal */

.modal {
  background-color: aliceblue;
}

.modal-2 {
  display: flex;
  justify-content: space-around;
}

.modal-content {
  border: none;
  background: none;
  box-shadow: none;
}

.modal-header {
  border-bottom: none;
}

#companyModal {
  box-shadow: none;
}

.form-control:focus {
  background: none;
}

label::after {
  top: 60px;
  left: 320px;
}

.close {
  position: fixed;
  right: 50px;
  top: 20px;
  font-size: 3em;
}

#login {
  color: #032426 !important;
  width: 30%;
}

#login-social {
  width: 80%;
}

#modalSignupForm {
  padding-top: 20px !important;
}

/* __--__--__--__--__--__--__--__--__--__--__--__--__ */

/* PROFILE INFLUENCER */

#header {
  height: 80px;
}

/* Style for the AVATAR and its dropdown */

.user-area {
  width: 45px;
  height: 45px;
  position: relative;
  cursor: pointer;
}

.user-area .user-avatar {
  width: 95%;
  height: 95%;
  border-radius: 30px;
  /* border: 2px solid #fff; */
  box-shadow: 0px 0px 15px -5px #000;
}

.user-area .user-avatar:hover {
  box-shadow: 0px 0px 10px -5px #000;
  width: 93%;
  height: 93%;
}

.user-area .user-avatar .img-avatar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.dropdown-menu {
  padding-bottom: 0;
  z-index: 1060;
}

.navbar .dropdown-menu a {
  font-size: 0.8rem;
}

.navbar .dropdown-menu a:hover {
  color: #000 !important;
}

/* __--__--__--__--__--__--__--__--__--__--__--__--__ */

/* Style for the Author Box section */

.btn-author {
  color: #032426 !important;
  font-size: 0.8em;
  background: transparent;
  margin-left: 0;
  border: 1px solid;
  border-top-color: #880e4f;
  border-left-color: #880e4f;
  border-right-color: #0b8793;
  border-bottom-color: #0b8793;
}

.edit-author .edit-link {
  color: rgb(200, 200, 200);
}

.btn-author:hover {
  background: linear-gradient(270deg,
  rgba(136, 14, 79, 1),
  rgba(11, 135, 147, 1));
  color: #fff !important;
  border: 1px solid transparent;
}

.btn-author i {
  color: inherit !important;
}


/* __--__--__--__--__--__--__--__--__--__--__--__--__ */

/* Style for the Instagram section */

.brand-logo {
  width: 200px;
}

.followers-icon {
  font-size: 2rem;
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.section-title .social-network-column {
  margin-right: 2em;
}

.section-title .social-network-column>* {
  display: inline;
}

.section-title .h1 {
  padding-bottom: 0;
}

.social-data .social-data-item {
  display: inline;
  margin-left: 20px;
}

.social-data-item .span {
  font-weight: 600;
}

.img-container {
  position: relative;
  display: inline-block;
  transition: all 1s ease;
}

.img-container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  background: rgba(0, 0, 0, 0);
  transition: all 1s ease;
}

.img-container:hover .after {
  display: block;
  background: rgba(0, 0, 0, 0.6);
  transition: all 1 ease;
}

.positioner {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: 16px;
  margin: 0 10px;
}

.icon .icon-data {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

.grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: 5px;
}

/* Empty Social Account */

.empty-social-account {
  padding: 100px 0;
  background-color:rgb(240, 240, 240);
}

.empty-social-account .btn {
  margin-bottom: 20px;
}

.btn-gplus, .btn-tw {
  font-size: 0.8em;
  padding: 10px 25px;
  border-radius: 0;
}

.btn-gplus {
  background-color: #db3236;
}

.btn-tw {
  background-color: #1dcaff;
}

/* __--__--__--__--__--__--__--__--__--__--__--__--__ */

.disabled {
  display: none;
}


/* Edit profile influencer view */

#textarea {
  height: 100px;
  overflow-wrap: break-word;
  text-overflow: clip;
}

.edit .form-control[name="cofluname"] {
  background: url(/img/icons/user.png) no-repeat scroll 10px 15px/20px 20px;
  padding-left: 50px;
}

/* Style for public company profile */

.company-email {
  font-weight: 200;
  border-left: 1px solid #000;
  padding-left: 10px;
  margin-left: 8px;
}

.email-link {
  color: #4f4f4f;
}

.email-link:hover {
  text-decoration: none;
  color: #000;
}

/* Style for the home - body */

#how-it-works {
  height: 600px;
}

/* Style for edit campaign */

.img-edit-campaign {
  margin-top: 0;
}

/* Style for instagram validate user */

.logo-dark {
  font-family: 'Lobster',
  cursive;
  font-size: 1.5em;
  align-self: auto;
  color: #032426;
}

.section-validate {
  display: flex;
  flex-direction: column;
}

.validate-user-section {
  padding-top: 50px;
}

.section-validate .row, .section-validate .form-row {
  margin: 20px 0;
}

.body-bg {
  background-image: url('/img/header-bg.png');
  background-position: center;
  background-size: cover;
}

.btn-colorful {
  color: rgba(240, 240, 240, 0.8) !important;
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 25px;
  border-radius: 4px;
  border: none;
  background: linear-gradient(270deg,
  rgba(136, 14, 79, 0.8),
  rgba(11, 135, 147, 0.8));
}

.btn-colorful:hover {
  background: linear-gradient(270deg,
  rgba(136, 14, 79, 1),
  rgba(11, 135, 147, 1));
}

.grid .fa-heart {
  font-size: 1em;
}

#user-info {
  margin-bottom: 100px;
}

.mb-10 {
  margin-bottom: 100px;
}

/* Style for modal contact */

.modal-contact {
  padding: 0;
}

.mt-2 {
  margin-top: 20px !important;
}

.modal-contact-box {
  background: #fff;
  position: absolute;
  top: 50px;
}

.cascading-modal {
  padding-top: 0;
}

.modal-header {
  background: linear-gradient(270deg,
  rgba(136, 14, 79, 1),
  rgba(11, 135, 147, 1));
}

.lobster {
  font-family: 'Lobster';
}

.modal-dialog .btn .fa {
  color: inherit !important;
}

#send-contact-mail {
  width: 30%;
}

#send-contact-mail:hover {
  background: linear-gradient(270deg,
  rgba(136, 14, 79, 1),
  rgba(11, 135, 147, 1));
  color: #fff !important;
}

/* Style for flash notifications */

.flash-notification {
  position: absolute;
  top: 0;
  left: 20%;
  background-color: #0b8793;
  width: 320px;
  border: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.alert-success {
  color: #fff;
}


/* Style for titles and more */

.my-campaigns {
  padding-top: 0 !important;
}

.subtitle-width {
  width: 300px;
}