<div class="container">
  <!--Section: Blog v.2-->
  <section class="text-center py-4">
  
    <!--Section heading-->
    <h1 class="h1 font-weight-bold text-center mb-5 pt-4"></h1>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-2 mb-2">
          <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg" class="img-fluid" alt="First sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <a href="" class="pink-text">
          <h6 class="mb-3 mt-4">
            <i class="fa fa-map "></i>
            <strong> Adventure</strong>
          </h6>
        </a>
        <h4 class="mb-3 font-weight-bold dark-grey-text">
          <strong>This is title of the news</strong>
        </h4>
        <p>by
          <a class="font-weight-bold dark-grey-text">Billy Forester</a>, 15/07/2018</p>
        <p class="grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere
          possimus voluptas.</p>
        <a id="send-msg" class="btn btn-blue btn-rounded btn-md" data-toggle="modal" data-target="#modalDefaultContactForm">Contact</a>
      </div>
      <!--Grid column-->  
    </div>
    <!--Grid row-->
  
  </section>
  <!--Section: Blog v.2-->
  <%- include ../modal-msg.ejs %>
</div>