<h1>Create Campaing</h1>

<a href="/logout">logout</a>
<a href="/<%= infoUser.username %>">profile</a>
<a href="/<%= infoUser.username %>/campaings">campaings</a>

<form action="/<%= infoUser.username %>/campaings" method="POST">
  <label for="title">Title</label>
  <input type="text" id="title" name="title">

    <label for="state">State</label>
    <input type="text" id="state" name="state">

  <label for="description">Description</label>
  <textarea type="text" name="description" id="description"></textarea>

  <button type="submit">Create Campaing</button>
</form>