/* Style for the header template by mdbootstrap */
.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg") no-repeat center center;
  background-size: cover;
}

.navbar {
  z-index: 1;
  background-color: transparent;
}

#logo {
  width: 30%;
}

#nav-link {
  padding: 0 1rem 0 1rem; 
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}
/* __--__--__--__--__--__--__--__--__--__--__--__--__ */

/* Style for the login/signup modal */
.modal {
  background-color: aliceblue;
}

.modal-content {
  border: none;
  background: none;
  box-shadow: none;
}

.modal-header {
  border-bottom: none;
}

#companyModal {
  box-shadow: none;
}

.form-control:focus {
  background: none;
}

label::after {
  top: 60px;
  left: 320px;
}

.close {
  position: fixed;
  right: 50px;
  top: 20px;
  font-size: 3em;
}
/* __--__--__--__--__--__--__--__--__--__--__--__--__ */
