/* Style for the header template by mdbootstrap */
.view {
  background: url("https://mdbootstrap.com/img/Photos/Others/img%20(42).jpg") no-repeat center center;
  background-size: cover;
}

.navbar {
  z-index: 1;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #4285F4;
}

@media (min-width: 768px) {
  .view {
    overflow: visible;
    margin-top: -56px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #4285F4;
  }
}
/* Style for the header template by mdbootstrap */

.modal {
  background-color: blanchedalmond;
}

.modal-content {
  border: none;
  background: none;
  box-shadow: none;
}

.modal-header {
  border-bottom: none;
}

#companyModal {
  box-shadow: none;
}

.form-control:focus {
  background: none;
}

label::after {
  top: 60px;
  left: 320px;
}

.inflencerModal {
  
}
