<!DOCTYPE html>
<html>

<head>
  <title>
    CoFulencer
  </title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/css/mdb.min.css'>
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.5/js/mdb.min.js'></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="/js/fb.js"></script>
</head>

<body>
<%-body%>
</body>

</html>