<!DOCTYPE html>
<html>

<head>
  <title>
    CoFulencer
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="/js/fb.js"></script>
</head>

<body>
<%-body%>
</body>

</html>