<div class="container text-center validate-user-section">

  <div class="row justify-content-center">
    <a href="/">
      <h2 class="logo-dark col-12">Cofluencer</h2>
    </a>
  </div>
  <div class="row justify-content-center">
    <p class="col-lg-5 col-sm-12 subtitle">First of all, we need your instagram username to show you all your influence info.</p>
  </div>

  <div class="section-validate">
  
    <!-- <div class="row">
      <div class="col-12">
        <img class="brand-logo col-12" src="/img/instagram-logo.png" alt="instagram-logo">
      </div>
    </div> -->

    <div class="row justify-content-center">

      <form id="form-search-iguser" action="/" method="POST">
          
        <div class="form-row justify-content-center">
        </div>
        
        <div class="form-row">
          <div class="col-8 md-form">
            <label for="instagram-user">type your instagram user</label>
            <input class="instagram-user form-control" type="text" id='instagram-user' align="center">
          </div>
          <div class="col-4">
            <button type="submit" class="btn btn-colorful">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

      </form>

    </div>      
      
      <p class="disabled">You are sure this is your account??<button id="add-instagram-account" class="btn btn-author">Save Instagram Account</button></p>
      <div id="user-info" class="disabled">

      </div>
      
    

  </div>
</div>