<div class="container">
  <img class="brand-logo" src="img/instagram-logo.png" alt="instagram-logo">
  <h2>ADD INSTAGRAM ACCOUNT</h2>
  
  <form id="form-search-iguser" action="/" method="POST">
    <input type="text" id='instagram-user'>
    <button type="submit" class="btn btn-author">Search instagram account</button>
  </form>
  
<p class="disabled">You are sure this is your account??<button id="add-instagram-account" class="btn btn-author">Save Instagram Account</button></p>
  <div id="user-info" class="disabled">
  </div>
</div>