<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <h2>Login</h2>

      <form action="/login" method="POST" id="form-container">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Company name">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password">
        <br>
        <br>
        <br>
        <p class="account-message">
          If you are not a cofluencer, <a href="/signup">Create an account.</a>
        </p>
        <button>Login</button>
        
        <a href="auth/facebook">Login Facebook</a>
      </form>
    </div>
  </div>
</div>