<h1>Add Instagram Account</h1>

<form id="form-search-iguser" action="/" method="POST">
  Search instagram user:
<input type="text" id='instagram-user'>
<button type="submit">Search user</button>
</form>

<div id="user-info" class="disabled">
  <p>Tenemos user Instagram</p>
  <button id="add-instagram-account" user="">Add Account</button>
  <!-- añadir los datos de la cuenta de instagram con fotos y añadir a la bd -->
</div>

