<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-3">
      <h2>Signup</h2>

      <form action="/signup" method="POST" id="form-container">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="JonSnow">
        <br>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Your password">
        <br>
          <br>
          <button>Create account</button>
      </form>
    </div>
  </div>
</div>